USE [master]
GO
/****** Object:  Database [db.MusicPlayer]    Script Date: 17-01-2019 11:43:19 ******/
CREATE DATABASE [db.MusicPlayer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db.MusicPlayer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\db.MusicPlayer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db.MusicPlayer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\db.MusicPlayer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db.MusicPlayer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db.MusicPlayer]
GO
/****** Object:  Table [dbo].[tblMusic]    Script Date: 17-01-2019 11:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMusic](
	[fldSongs] [nchar](40) NULL,
	[fldArtist] [nchar](40) NULL,
	[fldPlaylistName] [nchar](30) NULL,
	[fldFilePath] [varchar](50) NULL,
	[fldNumber] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tblMusic] PRIMARY KEY CLUSTERED 
(
	[fldNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPlaylist]    Script Date: 17-01-2019 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPlaylist](
	[fldPlaylistName] [nchar](30) NOT NULL,
 CONSTRAINT [PK_tblPlaylist_1] PRIMARY KEY CLUSTERED 
(
	[fldPlaylistName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSongs]    Script Date: 17-01-2019 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSongs](
	[fldArtist] [varchar](25) NULL,
	[fldSongTitle] [varchar](25) NULL,
	[fldFilePath] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblSongs] PRIMARY KEY CLUSTERED 
(
	[fldFilePath] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMusic]  WITH CHECK ADD  CONSTRAINT [FK_tblMusic_tblPlaylist] FOREIGN KEY([fldPlaylistName])
REFERENCES [dbo].[tblPlaylist] ([fldPlaylistName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblMusic] CHECK CONSTRAINT [FK_tblMusic_tblPlaylist]
GO
ALTER TABLE [dbo].[tblMusic]  WITH CHECK ADD  CONSTRAINT [FK_tblMusic_tblSongs] FOREIGN KEY([fldFilePath])
REFERENCES [dbo].[tblSongs] ([fldFilePath])
GO
ALTER TABLE [dbo].[tblMusic] CHECK CONSTRAINT [FK_tblMusic_tblSongs]
GO
USE [master]
GO
